<settings>
	<block name="Привет" id="hello">
		<setting number="0" id="auto-translator" user-edit="true" type="boolean">
			<name>Автоматический перевод</name>
			<description>Если находятся русские символы, то переводит с русского на английский</description>
			<default-value>false</default-value>
			<value/>
		</setting>
		<setting number="1" id="application-name" user-edit="false" type="text">
			<name>Название приложения</name>
			<description>Вот как то так</description>
			<default-value>Переводчик</default-value>
			<value/>
		</setting>
		<setting number="2" id="colors" user-edit="false" type="selection">
			<name>Выпадающий список</name>
			<description>Вот как то так</description>
			<default-value>Зеленый</default-value>
			<value/>
			<selections>
				<selection>
					<name>Зеленый</name>
					<value>GREEN</value>
				</selection>
				<selection>
					<name>Красный</name>
					<value>RED</value>
				</selection>
				<selection>
					<name>Черный</name>
					<value>GREEN</value>
				</selection>
			</selections>
		</setting>
	</block>
</settings>
